
body{
    text-align: center;
    background:#193549;
    color:white;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 30px;
}
.controls{
    margin-top: 50px;
    margin-bottom: 50px;
}
input{
    width:100px;
}