
body{
    text-align: center;
    background:#193549;
    color:white;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 30px;
}
.controls{
    margin-top: 50px;
    margin-bottom: 50px;
}
input{
    width:100px;
}
:root{
    --spacing:10px;
    --blur:1px;
    --base:#ffc600;
}
img{
    padding:var(--spacing);
    background:var(--base);
    filter:blur(var(--blur));
}